50-udev-mandriva.rules
61-mobile-zte-drakx-net.rules
69-printeracl.rules
76-net.rules
99-default.preset
listen.conf
systemd-195.tar.xz
systemd.macros
udev_net_action
udev_net_create_ifcfg
udev_net.sysconfig
udev.sysconfig
